body{
    text-align: justify;
}
header{
     text-align: center;
}

.center{
    position: relative;
    margin: auto;
    width:100%;
}
.icon{
    height: 30px;
}
.central{
    width:62%;
    margin:0px 25px;
    display: inline-block;
    position: relative;
    height: 550px;
    overflow-y  : auto;
}
.left{
    width:20%;
    float:left;
    display: inline-block;
    position: relative;
}

.right{
    text-align: right;
    width:12%;
    position: relative;
    display: inline-block;
    float: right;
}
.re_news{
    position:relative;
    float:left;
    width: 68%;
    min-height: 500px;
  }

.log_sign_frm{
    position: relative;
    float: right;
    width: 28%;
}

footer{
    position: relative;
    bottom: 0px;
    margin-top: 10px;
}

.user{
    position:relative;
}

.user_name{
        float: left;
        width:68%;
        
}

.log_out{
        float:right;
        width:28%;
        text-align: right;
}