/* 
    Document   : style
    Created on : 4 Sep, 2015, 10:15:52 PM
    Author     : Suraj Sanwal
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.containner{
    width:70%;
    alignment-adjust: central;
    margin: 0px 15%;
   
}

.col-sm-1{width:8.33%;}
.col-sm-2{width:16.66%;}
.col-sm-3{width:25%;}
.col-sm-4{width:31.33%;}
.col-sm-5{width: 41.66%;}
.col-sm-6{width:48%;}
.col-sm-7{width:57.33%;}
.col-sm-8{width:65.66%;}
.col-sm-9{width:75%;}
.col-sm-10{width:81.33%;}
.col-sm-11{width: 89.66%;}
.col-sm-12{width:100%}

.interest{  width:15%;}

.interest .col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9
{
    position:relative;
    min-height:1px;
    display:inline-block;
    vertical-align:bottom;
    padding:0px;
    margin:0px;
 }


.row{ margin: 0% 0.5%;}







